.blog-content {
  padding: 100px 0;
  .blog-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  .description {
    margin-top: 40px;
    &::first-letter {
      font-size: 3.5rem;
      font-weight: bold;
      font-family: 'Marck Script, Arial, Helvetica, sans-serif';
      initial-letter: 2;
      line-height: 20px;
    }
  }
  p {
    text-align: justify;
    font-size: 1rem;
    font-family: 'MS Sans Serif, Geneva, sans-serif';
    margin-top: 20px;
    text-indent: 30px;
    line-height: 125%;
    color:rgb(119,119,119);
  }
}
