.form-container {
  display:flex;
  flex-direction:column;
  gap:15px;
  box-shadow: 0 5px 20px -10px #000;
  padding:20px;
  h2 {
    font-weight: bold;
    text-align: center;
  }
  .form-item {
    display: flex;
    flex-direction: column;
    position: relative;
    label, span {
      font-size:14px;
      margin:0.2rem 0;
    }
    span {
      display: none;
      color: darken(@primary,5);

    }

    input, textarea {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid @dark-gray;
      outline: 1px solid @dark-gray;
     &:valid[focused='true'] {
        border: 1px solid green;
        outline: 1px solid green;
      } 

      &:invalid[focused='true'] {
        border: 1px solid darken(@primary,5);
        outline: 1px solid darken(@primary,5);
      }
      &:invalid[focused='true']~span {
        display: block;
      }
    }

  }
}