.page-container {
  max-width: 1320px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.flex {
  display:flex;
}

.image-container {
  width:70%;
  margin:0 auto;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-2 {
  margin-right: 2rem;
  margin-left: 2rem;
}