.page-container {
  max-width: 1320px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.flex {
  display:flex;
}

.image-container {
  width:70%;
  margin:0 auto;
}


.generateCSS(@i) when (@i =< 10) {
  .py-@{i} { padding-right: @i*1rem; padding-left: @i*1rem; }
  .px-@{i} { padding-right: @i*1rem; padding-left: @i*1rem; }
  .my-@{i} { margin-top: @i*1rem; margin-bottom: @i*1rem; }
  .mx-@{i} { margin-right: @i*1rem; margin-left: @i*1rem; }
  .generateCSS(@i + 1);
}

.generateCSS(1);

.m-auto {
  margin: auto;
}

.mb-025 {
  margin-bottom: 0.25rem;
}