.navbar {
  box-shadow: 0 5px 20px -10px #000;
  padding-bottom:.4rem;
  .navbar-item {
    position: relative;
    font-weight: bold;
    margin-right: 2rem;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    &:not(.navbar-logo)::before {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      transition: 0.3s ease-in;
      bottom: 0;
      left: 0;
      background-color: @navy-blue;
    }

    &:hover {
      color: @navy-blue;
      fill: @primary-invert;
      stroke: @primary-invert;
      background-color: inherit !important;

      &::before {
        width: 100%;
        color: inherit;
      }

      svg {
        fill: @primary-invert;
        stroke: @primary-invert;
        color: @primary-invert;
      }
    }

    img {
      height: 100%;
    }
  }

  &.transparent {
    background: transparent;
    box-shadow: none;
    transition: 0.3s ease-in;

    .navbar-menu {
      background: transparent !important;
    }

    .navbar-item, span {
      color: @primary-invert;
      &:not(.navbar-logo)::before {
        background-color: @primary-invert;
      }
    }
    @media screen and (max-width: 1024px) {
      padding-bottom: 0;
      .navbar-item, span {
        color: @navy-blue;
      }
    }
  }

  &.hasWhiteBg {

    .navbar-item, span {
      color: @navy-blue;
      &:not(.navbar-logo)::before {
        background-color: @navy-blue;
      }
    }
  }
}